BOT_TOKEN=8980630341:AAEG0lvJgyaLJWaP1vN4hs54JPGSJtF81ro

DATABASE_URL=postgresql://postgres:ezCvfxPfFdlrQXeiWJGdibzfgjojyuBq@acela.proxy.rlwy.net:22862/railway

WEBAPP_URL=https://maifa-frontend.netlify.app/

SERVER_PORT=8080
