BOT_TOKEN=8980630341:AAEG0lvJgyaLJWaP1vN4hs54JPGSJtF81ro

DATABASE_URL=postgresql://postgres.dghmxsdnldexdwtnigak:abduqodirov_14@aws-1-eu-central-1.pooler.supabase.com:6543/postgres

WEBAPP_URL=https://YOUR_APP.up.railway.app/webapp

SERVER_PORT=8080
